<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is a to do list</title>
    <link rel="stylesheet" href="./public/style.css">
</head>
<body>
    <section class="section-to-do">
        <div class="section-list">
            <h1>today is <%= today %></h1>
            <h1>the time is <%= time %></h1>
            <ul class="list-items">
                <li >Work on myself</li>
                <li><%= newitem %></li>
            </ul>
        </div>
        <div class="input-field">
            <form action="/" method="post">
                <input type="text" name="newItem" id="input-value" placeholder="input your next task">
            <button type="submit">submit task</button>
            </form>
        </div>
    </section>
</body>
</html>